<app-header></app-header>

    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5">
            <div class="row ">
                <div class="col-lg-6" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="../../../assets/img/Portada 6.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 pt-5 pb-lg-5 ">
                    <div class="about-text bg-white p-4 p-lg-5 my-lg-5 conteriner-noticia">
                        <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Sobre Nosotros.</h6>
                        <h1 class="mb-3">¿Quienes Somos?</h1>
                        <p>"Somos un mecanismo de coordinación intersectorial e interinstitucional, articulado al Sistema Nacional para la Prevención, Sanción y Erradicación de la Violencia contra las Mujeres y los Integrantes del Grupo Familiar en la Región Apurímac."</p>
                        <div class="row mb-4">
                            <div class="col-6">
                                <div class="d-flex flex-column text-center bg-white">
                                    <img src="../../../assets/img/vision.avif" class="img-fluid mx-auto mb-3" style="width: 100px;">
                                    <h3 class="text-primary mb-3">VISIÓN</h3>
                                    <p>
                                        Aspiramos a consolidar al Observatorio Regional de la Violencia contra las Mujeres y los Integrantes del Grupo Familiar de Apurímac como un referente en la recopilación, análisis y difusión de información sobre violencia de género en la región. Nuestro propósito es contribuir a la mejora de las políticas públicas y promover una participación ciudadana activa y comprometida en la prevención y erradicación de esta problemática.
                                    </p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex flex-column text-center bg-white">
                                    <img src="../../../assets/img/Mision.svg" class="img-fluid mx-auto mb-3" style="width: 100px;">
                                    <h3 class="text-primary mb-3">MISIÓN</h3>
                                    <p>
                                        Nuestra misión es desarrollar y mantener un sistema de información permanente que proporcione datos relevantes para el diseño, implementación y gestión eficaz de políticas públicas orientadas a la prevención y erradicación de la violencia contra las mujeres y los integrantes del grupo familiar en la Región Apurímac
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->




    <!-- Service Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">MAS</h6>
                <h1>SOBRE NOSOTROS</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <!-- <i class="fa fa-2x fa-bullseye mx-auto mb-4"></i> -->
                        <!-- <i class="fa fa-2x fa-chart-line mx-auto mb-4"></i> -->
                        <i class="fa fa-2x fa-network-wired mx-auto mb-4"></i>

                        <h5 class="mb-2">¿CUAL ES NUESTRA FINALIDAD?</h5>
                        <p class="m-0">Nuestra finalidad es fortalecer las políticas públicas frente a la violencia familiar, con un enfoque especial en los grupos más vulnerables: niñas, niños, adolescentes, personas con discapacidad, personas adultas mayores, población LGBTQ+, comunidades indígenas y afroperuanas. Trabajamos por la protección de sus derechos, promoviendo la equidad, la inclusión y una vida libre de violencia para todas y todos.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <!-- <i class="fa fa-2x fa-lightbulb mx-auto mb-4"></i> -->
                        <!-- <i class="fa fa-2x fa-gavel mx-auto mb-4"></i> -->
                        <i class="fa fa-2x fa-tools mx-auto mb-4"></i>

                        <h5 class="mb-2">CREACIÓN</h5>
                        <p class="m-0">De acuerdo con lo establecido en la Ley N.° 30364, nuestra creación se realiza bajo la supervisión de la Instancia Regional de Concertación, conforme a los lineamientos del Observatorio Nacional de la Violencia contra las Mujeres y los Integrantes del Grupo Familiar, según lo dispuesto en el artículo 106 de la mencionada ley.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <!-- <i class="fa fa-2x fa-hotel mx-auto mb-4"></i> -->
                        <!-- <i class="fa fa-2x fa-exclamation-circle mx-auto mb-4"></i> -->
                        <i class="fa fa-2x fa-brain mx-auto mb-4"></i>

                        <h5 class="mb-2">IMPORTANCIA</h5>
                        <p class="m-0">Este instrumento es fundamental por su enfoque oficial en la comprensión y abordaje de la violencia contra las mujeres y los integrantes del grupo familiar. Ofrece información clave sobre su magnitud, manifestaciones, causas y consecuencias, además de aportar estrategias de intervención y buenas prácticas que fortalecen el diseño y la mejora de las políticas públicas a nivel regional.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    <!-- Pestaña start -->
    <div class="container-fluid py-5">
        <div class="container">
            <mat-tab-group>
                <mat-tab label="LO QUE HACEMOS">
                    <!-- About Start -->
                    <div class="container-fluid py-5">
                        <div class="container pt-5">
                            <div class="row">
                                <div class="col-lg-6" style="min-height: 500px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute w-100 h-100" src="../../../assets/img/img3.jpg" style="object-fit: cover;">
                                    </div>
                                </div>
                                <div class="col-lg-6 pt-5 pb-lg-5 ">
                                    <div class="about-text bg-white p-4 p-lg-5 my-lg-5 conteriner-noticia">
                                        <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">QUE ES</h6>
                                        <h2 class="mb-3">LO QUE HACEMOS</h2>
                                        <p>
                                            En cumplimiento de nuestras funciones como Observatorio, hemos desarrollado una estrategia integral orientada a fortalecer la comprensión y el abordaje de la violencia en la región. Esta estrategia se articula en los siguientes componentes:
                                        </p>
                                    
                                        <!-- Feature Start -->
                                        <div class="container-fluid ">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="d-flex mb-4">
                                                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center contenedor-primary mr-3" style="height: 100px; width: 100px;">
                                                                <i class="fa fa-chart-bar fa-2x text-white"></i>
                                                                <!-- <i class="fa fa-table fa-2x text-white"></i> -->
                                                                <!-- <i class="fa fa-chart-line fa-2x text-white"></i> -->

                                                            </div>
                                                            <div class="d-flex flex-column">
                                                                <h5 class="">Difusión de Información Estadística</h5>
                                                                <p class="m-0">Asumimos el compromiso de divulgar de manera proactiva información y análisis estadísticos sobre la violencia en nuestra región, con el fin de sensibilizar, informar y contribuir a la toma de decisiones basadas en evidencia</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="d-flex mb-4">
                                                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center contenedor-primary mr-3" style="height: 100px; width: 100px;">
                                                                <!-- <i class="fa fa-comments fa-2x text-white"></i> -->
                                                                <i class="fa fa-users fa-2x text-white"></i>

                                                            </div>
                                                            <div class="d-flex flex-column">
                                                                <h5 class="">Fomento de la Participación Ciudadana y Diálogo</h5>
                                                                <p class="m-0">Reconocemos el valor del diálogo y la colaboración con la ciudadanía en la lucha contra la violencia. Por lo tanto, nos esforzamos por motivar y facilitar la participación activa de la comunidad en la vigilancia y denuncia de la violencia</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="d-flex mb-4">
                                                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center contenedor-primary mr-3" style="height: 100px; width: 100px;">
                                                                <i class="fa fa-balance-scale fa-2x text-white"></i>
                                                            </div>
                                                            <div class="d-flex flex-column">
                                                                <h5 class="">Apoyo a la Mejora de Políticas Públicas y Servicios Estatales</h5>
                                                                <p class="m-0">Colaboramos de manera articulada con autoridades e instituciones del Estado para identificar oportunidades de mejora en las políticas públicas y en los servicios destinados a la prevención, atención y erradicación de la violencia</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Feature End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- About End -->
                </mat-tab>
                <mat-tab label="¿CON QUE OBJETIVO RECOLECTAMOS INFORMACIÓN?">
                <!-- Service Start -->
                <div class="container-fluid py-5">
                    <div class="container pt-5 pb-3">
                        <div class="text-center mb-3 pb-3">
                            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">CON QUE</h6>
                            <h3>OBJETIVO RECOLECTAMOS INFORMACION</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                                    <!-- <i class="fa fa-2x fa-bullseye mx-auto mb-4"></i> -->
                                    <!-- <i class="fa fa-2x fa-chart-line mx-auto mb-4"></i> -->
                                    <i class="fa fa-2x fa-handshake mx-auto mb-4"></i>

                                    <h5 class="mb-2">OBJETIVO #1</h5>
                                    <p class="m-0">El Observatorio, en colaboración con el Gobierno Regional, tiene la capacidad de establecer convenios de cooperación con instituciones públicas y privadas, tanto nacionales como regionales, así como con organismos internacionales, con el objetivo de ejecutar las acciones de gestión del conocimiento e incidencia delineadas en este marco estratégico</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                                    <!-- <i class="fa fa-2x fa-lightbulb mx-auto mb-4"></i> -->
                                    <!-- <i class="fa fa-2x fa-gavel mx-auto mb-4"></i> -->
                                    <i class="fa fa-2x fa-chart-line mx-auto mb-4"></i>

                                    <h5 class="mb-2">OBJETIVO #2</h5>
                                    <p class="m-0">Nuestra iniciativa tiene como objetivo promover la transparencia y accesibilidad de los informes de avance del plan de trabajo, los cuales se desarrollan en estrecha colaboración con las instancias provinciales de concertación y los organismos distritales pertinentes, asegurando así una rendición de cuentas clara y efectiva</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                                    <!-- <i class="fa fa-2x fa-hotel mx-auto mb-4"></i> -->
                                    <!-- <i class="fa fa-2x fa-exclamation-circle mx-auto mb-4"></i> -->
                                    <i class="fa fa-2x fa-users-cog mx-auto mb-4"></i>

                                    <h5 class="mb-2">OBJETIVO #3</h5>
                                    <p class="m-0">El Observatorio tiene como propósito generar espacios de coordinación interinstitucional e intersectorial que promuevan la colaboración activa entre las autoridades locales, regionales y nacionales. Esto se logrará mediante la implementación de mesas de trabajo y foros de discusión que aborden de manera integral las problemáticas relacionadas con la violencia contra las mujeres y miembros del grupo familiar en la región.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Service End -->
                </mat-tab>
                <mat-tab label="¿A QUIENES ESTA DIRIGIDO?">
                      <!-- Packages Start -->
                    <div class="container-fluid py-5">
                        <div class="container pt-5 pb-3">
                            <div class="text-center mb-3 pb-3">
                                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">A QUIENES</h6>
                                <h2>ESTA DIRIGIDO NUESTRA INFORMACIÓN</h2>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="package-item bg-white mb-2 conteriner-noticia">
                                        <img class="img-fluid img-dirigidos" src="../../../assets/img/victima-violencia.jpg" alt="">
                                        <div class="p-4">
                                            <a class="h5 text-decoration-none" href="">Víctima de violencia</a>
                                            <div class="border-top mt-4 pt-4">
                                                <p>
                                                    Personas afectadas por alguna situación de violencia hacia la mujer o hacia los integrantes del grupo familiar que buscan información para enfrentar el problema que las afecta. 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="package-item bg-white mb-2 conteriner-noticia">
                                        <img class="img-fluid img-dirigidos" src="../../../assets/img/operadores-atencion.png" alt="">
                                        <div class="p-4">
                                            
                                            <a class="h5 text-decoration-none" href="">Operadores de atención y prevención</a>
                                            <div class="border-top mt-4 pt-4">
                                                <p>
                                                    Los operadores de atención, principalmente de instituciones estatales, del sistema de justicia y de protección social, manejan la registro, prevención, detección, asistencia, procesos judiciales, recuperación y seguimiento de casos de violencia hacia la mujer y los integrantes del grupo familiar.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="package-item bg-white mb-2 conteriner-noticia">
                                        <img class="img-fluid img-dirigidos" src="../../../assets/img/decisor.webp" alt="">
                                        <div class="p-4">
                                            
                                            <a class="h5 text-decoration-none" href="">Decisores/as</a>
                                            <div class="border-top mt-4 pt-4">
                                                <p>
                                                    Quienes pueden influir de manera directa o indirecta en cambios en la política pública sobre violencia de género: parlamentarios, gerentes, directores, autoridades regionales y locales, empresarios/as entre otros.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="package-item bg-white mb-2 conteriner-noticia">
                                        <img class="img-fluid img-dirigidos" src="../../../assets/img/activistas.jpg" alt="">
                                        <div class="p-4">
                                            
                                            <a class="h5 text-decoration-none" href="">Activistas</a>
                                            <div class="border-top mt-4 pt-4">
                                               <p>
                                                Entidades, organizaciones o personas que se movilizan a favor de los derechos, la igualdad y en contra de la violencia hacia la mujer y miembros de la familia.
                                               </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <div class="package-item bg-white mb-2 conteriner-noticia">
                                        <img class="img-fluid img-dirigidos" src="../../../assets/img/periodista.png" alt="">
                                        <div class="p-4">
                                            
                                            <a class="h5 text-decoration-none" href="">Periodistas</a>
                                            <div class="border-top mt-4 pt-4">
                                               <p>
                                                Quienes elaboran la noticia y trasmiten información a través de medios masivos de comunicación: TV, radio y redes sociales.
                                               </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Packages End -->
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

    <!-- Pestaña end -->

    <!-- Destination Start -->
    <!-- Destination Start -->
    <app-aliados></app-aliados>
    <!-- Destination Start -->

    <!-- Destination Start -->
  




<app-footer></app-footer>
