.img-post{
    width: 150px;
  }

a{
  cursor: pointer;
}

.conteriner-noticia{
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.205); /* sombra suave */
  border-radius: 8px; /* opcional: bordes redondeados para mejor estética */

}

.btn-primary{
  color: #fff;
  background-color: #ac47ff;
  border-color: #9c30b7; 
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.btn-primary:hover {
  background-color: #d900ff; /* color al pasar el mouse */
}