<app-header></app-header>
    <!-- Blog Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">

                    <div class="container-detalle">
                        <h1>SISTEMA REGIONAL</h1>

                        <div>
                            <div class="info-section">
                                <div class="text-content">
                                    <h2>Observatorio Regional de Violencia Apurímac</h2>
                                    <p>
                                        El Observatorio Regional de la Violencia a la Mujer y al Grupo Familiar es un espacio que recopila, sistematiza y difunde información para apoyar la formulación de políticas públicas sobre violencia, fortalecer capacidades técnicas y brindar datos útiles a la población. También recoge buenas prácticas y experiencias para mejorar la gestión y evitar errores repetitivos.

                                    </p>
                                </div>
                            </div>
                            <!-- <h2>Características</h2>
                            <ul class="features-list">
                                <li><i class="bi bi-envelope-fill"></i>   Característica 1: Descripción breve.</li>
                                <li><i class="bi bi-envelope-fill"></i>  Característica 2: Descripción breve.</li>
                                <li><i class="bi bi-envelope-fill"></i>Característica 3: Descripción breve.</li>
                            </ul> -->
    
                            <table class="mt-2 table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre del Documento</th>
                                    <th scope="col">Accion</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Ordenanza de Creacion del Observatorio</td>
                                    <!-- <td><i class="bi bi-file-earmark-pdf-fill"></i></td> -->
                                    <td>
                                        <a href="../../../assets/pdf/pdf-sistema-regional/4949191-ordenanza-de-creacion-del-observatorio-del-gobierno-regional-de-apurimac.pdf" download>
                                          <i class="bi bi-file-earmark-pdf-fill" style="cursor: pointer; font-size: 1.5rem;"></i>
                                        </a>
                                    </td>
                                
                                  </tr>
                                  <!-- <tr>
                                    <th scope="row">2</th>
                                    <td>Documento</td>
                                    <td><i class="bi bi-file-earmark-pdf-fill"></i></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td >Documento</td>
                                    <td><i class="bi bi-file-earmark-pdf-fill"></i></td>                              
                                  </tr> -->
                                </tbody>
                              </table>
                        </div>

                        <div>
                            <div class="info-section">
                                <div class="text-content">
                                    <h2>Descripción</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus a atque consequuntur amet! Natus suscipit nobis iure rerum amet accusamus!
                                    </p>
                                </div>
                            </div>
                            <h2>Características</h2>
                            <ul class="features-list">
                                <li><i class="bi bi-envelope-fill"></i>   Característica 1: Descripción breve.</li>
                                <li><i class="bi bi-envelope-fill"></i>  Característica 2: Descripción breve.</li>
                                <li><i class="bi bi-envelope-fill"></i>Característica 3: Descripción breve.</li>
                            </ul>
    
                            <table class="mt-2 table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre del Documento</th>
                                    <th scope="col">Accion</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Documento</td>
                                    <td><i class="bi bi-file-earmark-pdf-fill"></i></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Documento</td>
                                    <td><i class="bi bi-file-earmark-pdf-fill"></i></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td >Documento</td>
                                    <td><i class="bi bi-file-earmark-pdf-fill"></i></td>                              </tr>
                                </tbody>
                              </table>
                        </div>

                        <div>
                            <div class="info-section">
                                <div class="text-content">
                                    <h2>Descripción</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus a atque consequuntur amet! Natus suscipit nobis iure rerum amet accusamus!
                                    </p>
                                </div>
                            </div>
                            <h2>Características</h2>
                            <ul class="features-list">
                                <li><i class="bi bi-envelope-fill"></i>   Característica 1: Descripción breve.</li>
                                <li><i class="bi bi-envelope-fill"></i>  Característica 2: Descripción breve.</li>
                                <li><i class="bi bi-envelope-fill"></i>Característica 3: Descripción breve.</li>
                            </ul>
    
                            <table class="mt-2 table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre del Documento</th>
                                    <th scope="col">Accion</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Documento</td>
                                    <td><i class="bi bi-file-earmark-pdf-fill"></i></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Documento</td>
                                    <td><i class="bi bi-file-earmark-pdf-fill"></i></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td >Documento</td>
                                    <td><i class="bi bi-file-earmark-pdf-fill"></i></td>                              </tr>
                                </tbody>
                              </table>
                        </div>


                    </div>
                

                </div>
    
                <div class="col-lg-4 mt-5 mt-lg-0">

                    <!-- Author Bio -->
                    <div class="d-flex flex-column text-center bg-white py-5 px-4">
                        <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Infografias</h6>

                        <div id="carouselExampleIndependiente" class="carousel carousel-tamaño slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div 
                                    *ngFor="let infografia of infografias; let i = index" 
                                    class="carousel-item" 
                                    [ngClass]="{'active': i === 0}">
                                    <img [src]="getImageUrlInfografia(infografia.portada)" class="d-block w-100 img-info" alt="...">
                                </div>
                                
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndependiente" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Anterior</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndependiente" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Siguiente</span>
                            </button>
                        </div>
                        
                    </div>                                            

                    <!-- Author Bio -->
                    <div class="d-flex flex-column bg-white py-5 px-4">
                        <div class="ratio ratio-16x9 mb-3">
                            <iframe 
                                src="https://www.youtube.com/embed/6tsmgEN0I5w" 
                                title="Política Nacional de Igualdad de Género"
                                frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                                referrerpolicy="strict-origin-when-cross-origin" 
                                allowfullscreen>
                            </iframe>
                        </div>
                    
                        <h3 class="text-primary ">¿QUE ES LA VIOLENCIA DE GENERO?</h3>
                        <p>
                            La Convención Norteamericana para Prevenir, Sancionar y Erradicar la Violencia contra la Mujer define esta violencia como cualquier acción basada en el género que cause daño físico, sexual o psicológico, tanto en el ámbito privado como público. Incluye violencia dentro del hogar o relaciones personales, en la comunidad (como abuso, trata, acoso o tortura), y aquella perpetrada o tolerada por el Estado.
                        </p>
                    </div>
    
                    <!-- Author Bio -->
                    <div class="d-flex flex-column bg-white  py-5 px-4">
                        <div class="ratio ratio-16x9 mb-3">
                            <iframe 
                                src="https://www.youtube.com/embed/flfZ9bey6Ns"
                                title="Convención para prevenir, Sancionar y Erradicar la Violencia Contra la Mujer  Sesión 1, Capítulo 1"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin"
                                allowfullscreen>
                            </iframe>
                        </div>
                        
                        <h3 class="text-primary mb-3">¿QUE ES LA VIOLENCIA DE GENERO?</h3>
                        <p>
                            La Política Nacional de Igualdad de Género define la violencia de género como cualquier acción basada en el género que cause daño físico, sexual o psicológico, agravada por múltiples formas de discriminación (como etnicidad, clase, orientación sexual, etc.). Esta violencia ocurre tanto en el ámbito público como privado y afecta especialmente a mujeres y personas que desafían el sistema de género, en un contexto de discriminación estructural e interseccional.
                        </p>

                    </div>
    
                    <!-- Recent Post -->
                    <mat-tab-group>
                        <mat-tab label="Enlaces">
                            <div class="mb-5 mt-1">
                                <a class="d-flex align-items-center text-decoration-none bg-white mb-3" href="">
                                    <img class="img-fluid img-post" src="../../../assets/img/img2.jpeg" alt="">
                                    <div class="pl-3">
                                        <h6 class="m-1">Diam lorem dolore justo eirmod lorem dolore</h6>
                                        <small>Jan 01, 2050</small>
                                    </div>
                                </a>
                                <a class="d-flex align-items-center text-decoration-none bg-white mb-3" href="">
                                    <img class="img-fluid img-post" src="../../../assets/img/img2.jpeg" alt="">
                                    <div class="pl-3">
                                        <h6 class="m-1">Diam lorem dolore justo eirmod lorem dolore</h6>
                                        <small>Jan 01, 2050</small>
                                    </div>
                                </a>
                                <a class="d-flex align-items-center text-decoration-none bg-white mb-3" href="">
                                    <img class="img-fluid img-post" src="../../../assets/img/img2.jpeg" alt="">
                                    <div class="pl-3">
                                        <h6 class="m-1">Diam lorem dolore justo eirmod lorem dolore</h6>
                                        <small>Jan 01, 2050</small>
                                    </div>
                                </a>
                            </div>
                        </mat-tab>
                        <mat-tab label="Novedades">
                          <p>Contenido de la pestaña Nosotros</p>
                        </mat-tab>
                        <mat-tab label="Servicios">
                          <p>Contenido de la pestaña Servicios</p>
                        </mat-tab>
                      </mat-tab-group>
    

                </div>


            </div>
        </div>

    <!-- Destination Start -->
    <app-aliados></app-aliados>
    <!-- Destination Start -->

    <!-- Destination Start -->

        
    </div>
    <!-- Blog End -->
<app-footer></app-footer>
