<footer class="sticky-footer bg-white">
    <div class="container my-auto">
<div class="copyright-container d-flex justify-content-between align-items-center my-auto px-3">
    <span>Copyright &copy; Gobierno Regional de Apurímac. Todos los derechos reservados 2025</span>
<span><i class="fab fa-github"></i> Desarrollado por  <a href="https://github.com/jkLion12" target="_blank">JK LION</a></span>
``
</div>

                    <!-- <div class="row">
                <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
                    <p class="m-0 text-white-50">Copyright &copy; <a href="#">Gobierno Regional de Apurimac. Todos los derechos reservados 2025.</a>
                    </p>
                </div>
                <div class="col-lg-6 text-center text-md-right">
                    <p class="m-0 text-white-50">Desarrollado por <a href="https://github.com/jkLion12">Jk Lion</a>
                    </p>
                </div>
            </div> -->
    </div>
</footer>